---
import content from  './content.json'
---

{
  content.map((field) =>
    <div tabindex="0" class="collapse collapse-arrow border border-base-300 bg-base rounded-box mb-1">
      <input type="checkbox" class="peer">
      <div class="collapse-title text-center text-xl bg-base-200 text-accent peer-checked:bg-secondary">
          {field.question}
      </div>
      <div class="collapse-content text-center text-base bg-base peer-checked:bg-secondary peer-checked:text-base-content">
          <p set:html={field.answer}></p>
      </div>
    </div>
  )
}
