---
// G eu la flemme
const items = [{
  name: 'Dimeh',
  valid: true
}];
---

<ul class="">
  {items.map((item) => (
    <li class="text-neutral-50">{item.valid ? '✅' : '❓'}{item.name}</li>
  ))}
</ul>
