---
import BaseLayout from '../layouts/Base.astro';
import LaLegendreOST from '../components/LaLegendreOST.astro';
import Particles from '../components/Particles/Particles.svelte';
import Stream from '../components/Stream.astro';
import Preco from '../components/Preco.astro';
import YouTube from '../components/Player/YouTube.svelte';
---

<BaseLayout>
  <div class="h-full w-full relative">
    <Particles client:only="svelte" />
    <div class="text-center">
      <h1 class="text-accent font-bold text-5xl lg:text-7xl">ZZCCMXTP</h1>
      <h5 class="text-xs font-light">Le site pas officiel du tout</h5>
    </div>

    <div class="mt-6 flex gap-x-1 items-stretch mx-1 md:mx-auto md:w-1/2 justify-self-center">
      <Stream />
      <Preco />
    </div>

    <br>
    <br>

    <h2 class=" font-bold text-center text-accent">Tou les clips de la zzcc sont ici</h2>
    <div class="container mx-auto justify-center z-20 flex flex-wrap items-end overflow-hidden">
      <YouTube id="i6KWYycWuao" description="yaa pa jul mais c tt comme si yaavé" />
      <YouTube id="n3sBPimeLIo" description="tu peu montrer a ta maman ça stv" />
      <YouTube id="IJmaAy4bRGU" description="mate le clip de alkpote il é tre chaud notamment" />
      <YouTube id="LcsnE9h0u4U" description="c eu les daft punk finalement" />
      <YouTube id="BTOVgWjUoDo" description="ca c le clip de Adieu Les filles avec Squeezie qui est desus tu peux mater le clip (monté par ronare (le clip))" />
      <YouTube id="o5u0iyr8DT4" description="nous y somme c le 1er clip sorti franchemnt c cool (s/o tom s/o le v la péniche)" />
      <YouTube id="1sMQVpSQBks" description="artéfact tré rare de la tracklist legendaire de la zzccmxtp" />
    </div>
  </div>
  <div>
  </div>
  <div class="divider mx-10 mt-0 h-0"></div>
  <LaLegendreOST />
</BaseLayout>
