---
import BaseLayout from '../layouts/Base.astro';
import LaLegendreOST from '../components/LaLegendreOST.astro';
---

<BaseLayout>
  <div class="h-full w-full relative pt-16">
    <LaLegendreOST />
  </div>
</BaseLayout>
