---
import Audio from './Player/Audio.svelte'
import ZZCCJeuDownloadBtn from './ZZCCJeuDownloadBtn.svelte'
---

<div class="container mx-auto px-4 z-20 overflow-hidden">
  <h2 class="text-2xl lg:text-5xl text-center mb-5">ZZCC™ LA LEGENDRE</h2>
  <p class="text-xl text-center">zzccmxtp.fr le seul distributeur agréé du jeu zzcc™ la legendre</p>
  <p class="text-center">
    (<a class="link link-accent" target="_blank" href="https://clips.twitch.tv/StormyAnnoyingCasetteMcaT--8UFdbFWBQeIw0bA">preuve video</a> (jsuis le frerot askip (prtant jsuis tjr en vue dans les dm (ca doit bugger))))
  </p>
  <ZZCCJeuDownloadBtn className="mx-auto mb-5 mt-2" client:only/>

  <h3 class="text-2xl text-center">Retrouve ci-desou les son extrait du jeu, l'OST quoi enfaite</h3>
  <Audio client:only="svelte" />
</div>
