---
  import Audio from './Player/Audio.astro'
---
<div class="container mx-auto px-4 z-20 overflow-hidden">
  <h2 class="text-2xl lg:text-5xl text-center mb-5">Les sons extrait du jeu ZZCC™ LA LEGENDRE (<a
    class="link link-accent"
    href="https://zzcc.fr/">téléchargeable ici notamment (le jeu)</a>)</h2>

  <Audio />
</div>
