---
  import Audio from './Player/Audio.svelte'
---
<div class="container mx-auto px-4 z-20 overflow-hidden">
  <h2 class="text-2xl lg:text-5xl text-center mb-5">Les sons extrait du jeu ZZCC™ LA LEGENDRE (<a
    class="link link-accent"
    href="https://zzcc.fr/">téléchargeable ici notamment (le jeu)</a>)</h2>
  <p class="text-lg text-center mb-5">(<a class="link link-accent" download href="https://s3.eu-west-1.amazonaws.com/zzccmxtp.fr/zzcclalegendre.rar" >mirroir au cas ou le captcha marche pas par exemple</a>)</p>

  <Audio client:only="svelte"/>
</div>
