<a href="https://bfan.link/zzccmxtp" target="_blank">
  <button class="btn btn-primary h-full">
      <h3 class="text-3xl">
        ecoutee cette fuckin tape sur ton réso préféré !!
      </h3>
  </button>
</a>
