---
import githubImage from '../img/github-brands.svg';
import Macrongue from '../components/Macrongue.astro';
---
<html lang="fr"  data-theme="dark">
  <head>
    <!-- Les classiques -->
    <meta charset="UTF-8" />
    <meta name="twitter:dnt" content="on">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- La base -->
    <title>Zzccmxtp - Le site non-officiel (pour l'instant) 💩</title>
    <link rel="icon" type="image/webp" href="poo.webp">

    <!-- Le gros SEO des familles -->
    <meta property="og:title" content="Zzccmxtp" />
    <meta property="og:site_name" content="Zzccmxtp" />
    <meta property="og:description" content="Le site non-officiel de la zzccmxtp." />
    <meta property="og:locale" content="fr_FR" />

    <!-- Le CSS -->
    <style global>
      @import "../styles/global.css";
    </style>
  </head>
  <body>
    <Macrongue />

    <!-- Content injection-->
    <slot />

    <footer class="p-10 footer bg-base-200 text-base-content footer-center rounded">
      <div class="grid grid-flow-col gap-4">
        <p class="w-3/4 ">
          Y'a rien tqt, j'ai volé le domain me je le rend portez pas plainte svpppp, bon ok j'ai un peu volé des trucs dans votre jeu mais c'est pour le
          bien commun, ca fait du teasing pour ceux qui ont la flemme de jouer (dsl le developer pandrzz). Des bisous de moi même (cc krono bg un peu)
          <br>
          <br>
          Oh, le site est opensource tu peux proposer des trucs sur github oué oué le boss (tu connais le css (et je parle
          pas de counter strike lol))
        </p>
      </div>
      <div class="grid grid-flow-col gap-4">
        <a href="https://twitter.com/aLpr4zZ">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="fill-current">
            <path
              d="M24 4.557c-.883.392-1.832.656-2.828.775 1.017-.609 1.798-1.574 2.165-2.724-.951.564-2.005.974-3.127 1.195-.897-.957-2.178-1.555-3.594-1.555-3.179 0-5.515 2.966-4.797 6.045-4.091-.205-7.719-2.165-10.148-5.144-1.29 2.213-.669 5.108 1.523 6.574-.806-.026-1.566-.247-2.229-.616-.054 2.281 1.581 4.415 3.949 4.89-.693.188-1.452.232-2.224.084.626 1.956 2.444 3.379 4.6 3.419-2.07 1.623-4.678 2.348-7.29 2.04 2.179 1.397 4.768 2.212 7.548 2.212 9.142 0 14.307-7.721 13.995-14.646.962-.695 1.797-1.562 2.457-2.549z">
            </path>
          </svg>
        </a>
        <a href="https://github.com/o3LL/zzccmxtp">
          <img src={githubImage} alt="" width="24" height="24" class="fill-white">
        </a>
      </div>
    </footer>
  </body>
</html>
